.book{
    font-size: 11px;
    display: flex;
    flex-direction: row;
}
.book h1{
    margin-left: 16px;
}
#pds{
    color: orange;
}
#promo{
    color: orange;
}
img{
    width: 170px;
    padding-left: 20px;
    margin-top: 200px;
}
.foto{
    display: flex;
    flex-direction: row;
}
.tyt{
    width: 30%;
}
h2{
    font-size: 35px;
}
.nid{
    color: blue;
}
h2{
    font-size: 25px;
}
.jl{
    font-size: 40px;
}
.im{
    font-size: 35px;
}